.animation{
    height: 200px;
    width: 300px;
    background-color:rgb(211, 137, 211);
    animation-name: font_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: ;
    animation-timing-function: linear;
    animation-delay: 0s;
    align-items: center;
    justify-content: center;
    text-align: center;
     margin: 0 auto;
     place-items: center;
}
@keyframes font_animation{



0%{
background:red;
}

50%{
background:yellow;
}

100%{
background:green;
}

    /* from{
        font-size: 20px;
        color:blue
    }
    to{
        font-size: 50px;
        color:red
    } */

    
}